# pandas
파이썬에서 사용하는 데이터 분석 라이브러리

In [1]:
import pandas as pd

# 1. Series
1차원 데이터 ( 정수, 실수, 문자열 등 )

## Series 객체 생성
예) 1월부터 4월까지 평균 온도 데이터 (-20, 10, 10, 20)

In [3]:
temp = pd.Series([-20,-10,10,20])
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [4]:
temp[0]  #1월 온도

-20

In [5]:
temp[2]

10

# Series 객체 생성 (Index 지정)

In [8]:
temp = pd.Series([-20,-10,10,20], index=['Jan','Feb','Mar','Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [9]:
temp['Jan']  #index Jan(1월)에 해당하는 데이터 출력

-20

In [10]:
temp['Apr']

20

# 02. DataFrame
2차원 데이터 ( Series들의 모음 )

## Data 준비
사전 (dict) 자료구조를 통해 생성 \
예) 세븐틴 인물 13명에 대한 데이터

In [12]:
data = {
    '이름' : ['에스쿱스','정한','조슈아','준','호시','원우','우지','디에잇','도겸','민규','승관','버논','디노'],
    '팀' : ['힙합팀','보컬팀','보컬팀','퍼포먼스팀','퍼포먼스팀','힙합팀','보컬팀','퍼포먼스팀','보컬팀','힙합팀','보컬팀','힙합팀','퍼포먼스팀']
}

data

{'이름': ['에스쿱스',
  '정한',
  '조슈아',
  '준',
  '호시',
  '원우',
  '우지',
  '디에잇',
  '도겸',
  '민규',
  '승관',
  '버논',
  '디노'],
 '팀': ['힙합팀',
  '보컬팀',
  '보컬팀',
  '퍼포먼스팀',
  '퍼포먼스팀',
  '힙합팀',
  '보컬팀',
  '퍼포먼스팀',
  '보컬팀',
  '힙합팀',
  '보컬팀',
  '힙합팀',
  '퍼포먼스팀']}

In [13]:
type(data)

dict

In [14]:
data['이름']

['에스쿱스',
 '정한',
 '조슈아',
 '준',
 '호시',
 '원우',
 '우지',
 '디에잇',
 '도겸',
 '민규',
 '승관',
 '버논',
 '디노']

## DafaFrame 객체 생성

In [15]:
df = pd.DataFrame(data)

In [16]:
df

      이름      팀
0   에스쿱스    힙합팀
1     정한    보컬팀
2    조슈아    보컬팀
3      준  퍼포먼스팀
4     호시  퍼포먼스팀
5     원우    힙합팀
6     우지    보컬팀
7    디에잇  퍼포먼스팀
8     도겸    보컬팀
9     민규    힙합팀
10    승관    보컬팀
11    버논    힙합팀
12    디노  퍼포먼스팀

## 데이터접근

In [17]:
df['이름']

0     에스쿱스
1       정한
2      조슈아
3        준
4       호시
5       원우
6       우지
7      디에잇
8       도겸
9       민규
10      승관
11      버논
12      디노
Name: 이름, dtype: object

In [18]:
df['팀']

0       힙합팀
1       보컬팀
2       보컬팀
3     퍼포먼스팀
4     퍼포먼스팀
5       힙합팀
6       보컬팀
7     퍼포먼스팀
8       보컬팀
9       힙합팀
10      보컬팀
11      힙합팀
12    퍼포먼스팀
Name: 팀, dtype: object