# 1. 인구 피라미드

In [13]:
df_m.iloc[0] = df_m.iloc[0].str.replace(',','').astype(int)  # 1,198,629 -> 1198629 정수형으로

AttributeError: Can only use .str accessor with string values!

In [12]:
df_m.iloc[0]

0~4세       1198629
5~9세       1218866
10~14세     1635253
15~19세     1882958
20~24세     1688523
25~29세     1811906
30~34세     2053846
35~39세     2157764
40~44세     2341732
45~49세     2176857
50~54세     2175707
55~59세     1598548
60~64세     1133757
65~69세      886144
70~74세      713163
75~79세      433883
80~84세      192497
85~89세       77030
90~94세       22523
95~99세        4696
100세 이상       2652
Name: 전국  , dtype: object

# 여자 데이터 정의

In [14]:
df_w = pd.read_excel('201112_201112_연령별인구현황_월간.xlsx', skiprows=3,index_col='행정기관', usecols='B,AB:AV')
df_w.head(3)

C:\Users\HAEUNSEO\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세.1,5~9세.1,10~14세.1,15~19세.1,20~24세.1,25~29세.1,30~34세.1,35~39세.1,40~44세.1,45~49세.1,...,55~59세.1,60~64세.1,65~69세.1,70~74세.1,75~79세.1,80~84세.1,85~89세.1,90~94세.1,95~99세.1,100세 이상.1
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,129,806","1,128,548","1,499,278","1,663,636","1,523,792","1,703,195","1,970,608","2,072,568","2,275,390","2,052,704",...,"1,615,965","1,185,550","1,011,421","927,668","696,462","425,984","206,395","72,491","18,981","8,982"
서울특별시,"206,060","200,193","262,310","310,655","333,221","434,166","465,605","438,263","460,050","409,129",...,"359,313","258,378","205,191","158,189","107,363","67,032","34,398","12,901","3,929","2,692"
부산광역시,"64,091","64,395","89,822","109,704","109,926","119,872","132,335","130,836","152,337","148,810",...,"142,537","105,268","79,853","68,053","46,756","28,568","13,063","4,090","1,162",850

In [15]:
df_m.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [16]:
df_w.columns

Index(['0~4세.1', '5~9세.1', '10~14세.1', '15~19세.1', '20~24세.1', '25~29세.1',
       '30~34세.1', '35~39세.1', '40~44세.1', '45~49세.1', '50~54세.1', '55~59세.1',
       '60~64세.1', '65~69세.1', '70~74세.1', '75~79세.1', '80~84세.1', '85~89세.1',
       '90~94세.1', '95~99세.1', '100세 이상.1'],
      dtype='object')

In [17]:
df_w.columns = df_m.columns  #column명 통일

In [18]:
df_w.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')